DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
SERVER_NAME=ZyphraxHub Community
SERVER_TAG=ZyphraxHub Community
PAYPAL_URL=
DATABASE_URL=
LUARMOR_API_KEY=
LUARMOR_PROJECT_ID=
WELCOME_CHANNEL_ID=
SUPPORT_CHANNEL_ID=
ALLOWED_ROLE_ID=
ANNOUNCEMENT_CHANNEL_ID=
UPDATE_CHANNEL_ID=
DOWNLOAD_CHANNEL_ID=
SUPPORTED_CHANNEL_ID=
ROBLOX_SCRIPT_LOADER=
